/* footer css */

  .footer .row:first-child .col-2{
    text-align: center;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 50px;
    height: 200px;
    border: 1px solid rgba(59, 21, 21, 0.127);
    overflow: hidden;
    padding-bottom: 20px;
  }
  .footer  img{
  height: 70px;width: 70px;  
}
.footer .row:last-child .col-2{
    height:200px ;
     font-size: larger;
     font-weight: bolder;
    padding: 10px 10px auto 20px ;
    margin-bottom: 50px;

}
.footer .row:last-child p{
    font-size: small;
    font-weight: lighter;

}
.last-img img{
    height: 25px;width: 25px;
   float: left;
   margin-left: 20px;
   margin-bottom: 50px;
}
